@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@400;500&display=swap");

:root {
  --bg-color: rgba(195, 194, 209, 0.5);
  --light-text-color: #000;
  --light-bg-color: #f9ffe3;
  --thumb-color: #c9c0bb;
  --text-stroke-color: #afeeee;
  --controls-color: #242124;
  --text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  --boxshadow-btn: 0 0 15px rgba(0, 0, 0, 0.75);
  --boxshadow-color: 0px 0px 0px 3px #00000050, 0px 0px 0px 7px #4b4c4b,
    0px 0px 0px 11px #828482, 0px 0px 0px 16px #b2b5b2, 0px 0px 0px 21px #daddda;
  --header-text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  --footer-txt-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  --toggle-box-shadow: 0px 0px 8px rgba(153, 122, 141, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

body.dark {
  --bg-color: #555555;
  --light-bg-color: #8c92ac;
  --light-text-color: #b2beb5;
  --thumb-color: #98ff98;
  --text-stroke-color: #98ff98;
  --controls-color: #b2ffff;
  --text-shadow: 0 0 6px rgba(234, 255, 255, 0.8);
  --boxshadow-btn: 0 0 15px rgba(255, 255, 255, 0.75);
  --boxshadow-color: 0px 0px 0px 3px #ebebeb, 0px 0px 0px 7px #c2c2c2,
    0px 0px 0px 11px #858585, 0px 0px 0px 16px #6e6e6e,
    0px 0px 0px 21px #30303030;
  --header-text-shadow: 0 0 6px rgba(255, 255, 255, 0.85);
  --footer-txt-shadow: 1px 1px 2px rgba(152, 255, 152, 0.9);
  --toggle-box-shadow: 0px 0px 8px rgba(240, 255, 255, 0.8);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 26px;
  color: var(--light-text-color);
  text-shadow: var(--header-text-shadow);
  margin-bottom: 2rem;
  text-transform: capitalize;
  -webkit-text-stroke: 0.015rem var(--text-stroke-color);
  visibility: hidden;
  opacity: 0;
  animation: fadeUpHeader 0.6s ease-in-out forwards 0.8s;
}

@keyframes fadeUpHeader {
  from {
    transform: translateX(-300px);
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

/* Gallery dispaly */
.gallery_container {
  width: 315px;
  height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: var(--boxshadow-color);
  visibility: hidden;
  opacity: 0;
  animation: fadeUpGallery 1.5s ease-in-out forwards;
}

@keyframes fadeUpGallery {
  to {
    visibility: visible;
    opacity: 1;
  }
}

.gallery_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__nav-button {
  display: none;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.slider__nav-button:hover {
  opacity: 0.6;
  background-color: #333;
}

#nav-button--prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: prevButton 1s ease-in-out;
}

@keyframes prevButton {
  from {
    opacity: 1;
    transform: translateX(300px) translateY(0%);
  }
  to {
    opacity: 0.6;
    transform: translateX(0) translateY(-50%);
  }
}

#nav-button--next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  animation: nextButton 1s ease-in-out;
}

@keyframes nextButton {
  from {
    opacity: 1;
    transform: translateX(-300px) translateY(0%);
  }
  to {
    opacity: 0.6;
    transform: translateX(0) translateY(-50%);
  }
}

#nav-button--prev::after,
#nav-button--next::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 25%;
  height: 25%;
}

#nav-button--next::after {
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.count_container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.65rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 255, 255, 0.9);
}

.descripton_container {
  position: absolute;
  padding: 0.15rem 0.35rem;
  width: max-content;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 0.5rem;
  background-color: rgba(65, 74, 76, 0.5);
  border-radius: 0.35rem;
  opacity: 85%;
}

.desc_img {
  color: aliceblue;
  font-size: 0.485rem;
  font-family: "Proza Libre", sans-serif;
  text-shadow: 0px 0px 3px rgba(0, 255, 255, 0.9);
}

/* Stop/Start autosliding button */
.controls {
  font-size: 12px;
  font-weight: 700;
  font-family: "Mono Space", sans-serif;
  width: 120px;
  height: 1.8em;
  border-radius: 1.5rem;
  outline: 1px outset var(--light-text-color);
  margin-top: 2.5rem;
  position: relative;
  cursor: pointer;
  color: var(--controls-color);
  box-shadow: var(--toggle-box-shadow);
  visibility: hidden;
  opacity: 0;
  animation: fadeUpControls 0.6s ease-in-out forwards 0.8s;
}

@keyframes fadeUpControls {
  from {
    transform: translateX(300px);
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.move {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 1.5rem;
  background-color: rgba(0, 255, 127, 0.4);
  transition: 0.4s ease-in-out;
}

.move:hover {
  background-color: rgba(57, 255, 20, 0.9);
  box-shadow: var(--boxshadow-btn);
  transition: 0.4s ease-in-out;
}

.stop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: rgba(255, 53, 94, 0.4);
  transition: 0.4s ease-in-out;
}

.stop:hover {
  background-color: rgba(255, 64, 64, 0.9);
  box-shadow: var(--boxshadow-btn);
  transition: 0.4s ease-in-out;
}

/* Changeing atributes with JS */

.disabled {
  background-color: #00ffff;
}

.show-arrows {
  display: block;
  transition: 0.5s ease-in-out;
}

/* 'Designed by' element*/
.footer {
  position: fixed;
  bottom: 5px;
  z-index: 2;
  font-family: Tahoma, sans-serif;
  font-size: 0.6rem;
  font-weight: 800;
  color: var(--light-text-color);
}

.footer a {
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--thumb-color);
  text-shadow: var(--footer-txt-shadow);
  transition: all 0.4s ease-in-out;
}

.footer a:hover {
  transform: translateY(-3px);
  color: rgba(57, 255, 20, 0.9);
  transition: all 0.4s ease-in-out;
}

/* dark mode */
.mode {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.toggle {
  cursor: pointer;
}

.toggle-track {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3px 0;
  justify-content: space-between;
  box-shadow: var(--toggle-box-shadow);
  border: 2px solid var(--light-text-color);
  border-color: var(--light-bg-color);
  transition: all 0.3s ease;
}

.toggle-checkbox {
  display: none;
}

.toggle-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--thumb-color);
  transition: all 0.5s;
}

.toggle input:checked ~ .toggle-thumb {
  transform: translateX(25px);
}

.toggle img {
  width: 20px;
  height: 20px;
}

/* Noscript message */
noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

noscript h3 {
  font-size: 3rem;
  text-align: center;
  color: var(--controls-color);
  padding: 0 1rem;
  border: 1px solid var(--light-text-color);
  border-radius: 0.8rem;
  background-color: var(--bg-color);
  box-shadow: var(--toggle-box-shadow);
}

/* Media queries */
@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .gallery_container {
    width: 740px;
    height: 460px;
  }
  .count_container {
    font-size: 0.9rem;
  }
  .desc_img {
    font-size: 0.9rem;
  }
  .slider__nav-button {
    height: 40px;
    width: 40px;
  }
  #nav-button--prev::after,
  #nav-button--next::after {
    width: 40%;
    height: 40%;
  }
  .controls {
    font-size: 14px;
    height: 2.5em;
    width: 150px;
    outline: 2px outset #708090;
  }
  .footer {
    margin-left: 5px;
    left: 0;
  }
}
